.articleTable {
  border: rgb(101, 101, 101) 2px dotted;
  margin-left: auto;
  margin-right: auto;
}

.articleBody {
  margin: 16px 20px;
}

.voting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.voting button {
  width: 100px;
  height: 30px;
  margin-right: 20px;
}
